:root {
  --color-fg: #111;
  --color-bg: #f1f1f1;
  --color-bg-alt: #e1e1e1;
  color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #f1f1f1;
    --color-bg: #111;
    --color-bg-alt: #333;
  }
}

.game-over-image {
  max-width: 100%;
  max-height: 300px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: var(--color-fg);
  background: var(--color-bg);
  font-family: monospace;
}

#app {
  height: 100%;
}

.game-screen {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.lobby-screen {
  padding: 10px;
}

.scoresheet-table {
  border-collapse: collapse;
  font-size: 11px;
  margin-top: 8px;
  max-width: 0;
}
.scoresheet-table th {
  background: var(--color-bg-alt);
  padding: 2px 4px;
}

.scoresheet-table th.player {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 0;
}

.scoresheet-table td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-bg-alt);
  padding: 4px 4px;
  min-width: 32px;
  text-align: center;
}

button {
  font-family: monospace;
  font-size: 10px;
  padding: 4px;
}

.scoresheet-table .player-score .indication {
  margin-left: 2px;
}

.scoresheet-table .player-score .win {
  color: green;
}
.scoresheet-table .player-score .lose {
  color: red;
}

.cards {
  display: flex;
  flex-direction: row;
  height: 90px;
  border-width: 1px;
  border-style: dashed;
  border-color: var(--color-bg-alt);
  padding: 4px;
  gap: 8px;
}

.start-game {
  margin-top: 8px;
}

.round-stat {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.logo {
  font-weight: bolder;
}

.card {
  height: 72px;
  width: 40px;
  padding: 8px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--bg-color-alt);
  border-radius: 4px;
}

.invalid-play {
  opacity: 0.3;
}

button {
  padding: 10px;
}

.valid-play .card:hover {
  background: light-dark(#eee, #222);
  cursor: pointer;
}

.tiny-card {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 12px;
  border: 1px solid #000;
  border-color: light-dark(#000, #aaa);
  border-radius: 4px;
  .suit {
    margin-right: 1px;
  }
}

.suit {
  margin-right: 2px;
}

.red {
  .suit,
  .value {
    color: red;
  }
}

.log .red {
  color: red;
}

.estimation-buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.player-hand {
  padding-top: 10px;
}

.trump {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}

.estimation {
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 1;
  padding-top: 10px;
}

.log {
  border-top: 1px solid #333;
  font-size: 11px;
  line-height: 12px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px;
  overflow-y: scroll;
  height: 30vh;
  background-color: var(--bg-color-alt);
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.5);
}

.log .pink {
  color: hotpink;
}
