body {
  background: #fff;
  font-family: monospace;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app { height: 100%; }

.game-screen { padding: 10px; }
.lobby-screen { padding: 10px; }

button {
  font-family: monospace;
  font-size: 10px;
  padding: 4px;
}

.cards {
  display: flex;
  flex-direction: row;
  height: 90px;
  border: 1px dashed #444;
  padding: 4px;
  gap: 8px;
}

.start-game {
  margin-top: 8px;
}

.round-stat {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.logo {
  font-weight: bolder;
}

.card {
  height: 72px;
  width: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
}

.invalid-play {
  opacity: 0.3;
}

button {
  padding: 10px;
}

.valid-play .card:hover {
  background: #eee;
  cursor:pointer;
}

.tiny-card {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 12px;
  border: 1px solid #000;
  border-radius: 4px;
  .suit {
    margin-right: 1px;
  }
}

.suit {
  margin-right: 2px;
}
.red {
  color: red;
}

.estimation-buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.player-hand { padding-top: 10px; }

.trump {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}

.estimation {
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 1;
  padding-top: 10px;
}

.log {
  border-top: 1px solid #333;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px;
  overflow-y:scroll;
  height: 120px;
  background: #ddd;
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.5);
}
